table {
  width: 100%;
  border-collapse: collapse;
}
.board-main {
  width: 1280px;
  height: 800px;
  grid-template-rows: 10% 90%;
  border-bottom: 1px solid lightgray;
}

.board-cate {
  display: flex;
  justify-content: space-between;
}

.board-list {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* padding-top: 20px;*/
  /* padding-left: 50px; */
  height: 50px;
}

.board-list li {
  cursor: pointer;
  color: #514347;
  font-size: 20px;
  font-weight: 600;
  /* width: 60px; */
  padding: 0 10px 0 10px;
}

.board-list li:hover {
  background-color: #f5d6f9;
  border-radius: 15px;
}

.board-head {
  color: #514347;
  background-color: rgba(235, 20, 132, 0.6);
  height: 34px;
}

.board-body tr {
  border-bottom: solid 0.5px rgb(230, 225, 225);
  color: #514347;
  height: 26px;
}

.board-table-div {
  height: 380px;
}

.board-body td {
  padding: 5px;
  height: 24px;
  text-align: center;
  table-layout: fixed;
}

#board-table {
  /* border: 1px solid #000000; */
  /* height: 400px; */
  word-break: break-all;
}

.board-body td:link {
  color: #000000;
}

.board-body-link:visited {
  color: #b5b5c3;
}

._1-iJ {
  justify-content: right;
  display: flex;

  flex-direction: row;
  align-items: center;
  padding: 8px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-left: 32%;
  width: 100%;
  max-width: 460px;
}

._1-iJ ._3XWQ {
  flex-shrink: 0;
  fill: rgba(0, 0, 0, 0.4);
  margin-right: 8px;
}

._1-iJ input._3fLk {
  background-color: transparent;
  border: none;
  flex: 1;
  font-size: 16px;
  outline: none;
}

._1-iJ input._3fLk::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

._1-iJ button._2zEK {
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  outline: none;
}

._1-iJ button._2zEK svg {
  fill: rgba(0, 0, 0, 0.4);
}

.board-body-type {
  font-weight: 600;
}

.board-body tr:hover {
  background-color: rgba(249, 222, 214, 0.5);
  /* color: #fff; */
}

.board-body-type.자유 {
  color: rgb(55, 167, 79);
}

.board-body-type.질문 {
  color: red;
}

.board-body-type.맛집\&카페 {
  color: burlywood;
}

.board-body-type.여행\ 정보 {
  color: purple;
}

.board-body-type.여행\ 동행 {
  color: orange;
}

/* pagenation */

.board-pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-pagination button {
  width: 50px;
  height: 26px;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 15px;
  background-color: #ff1b99;
  margin: 0 10px 0 10px;
}

.board-pagination button:disabled {
  color: rgb(65, 65, 65);
  background-color: #a9a3a4;
}
