
.profil-overlay {
	position: absolute;
  /* top: 0;
  left: 1100px;
  right: 0;
  bottom: 735px; */
  display: flex;
  justify-content: center;
  align-items: center;
	transform: translate(-60px, -30px);
}

.profil-content {
	display: flex;
	width: 150px;
	height: 180px;
}

.profil {
  background: linear-gradient(101.12deg, #f03394 27.35%, #da34d4 99.99%, #dd3eda 100%, #eb50e8 100%);
  width: 130px;
	height: 170px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #da18a3;
	transform: translate(10%, 10%);
	display: flex;
	justify-content: center;
}

.profil-content ul {
	display: flex;
	flex-wrap: wrap;
	grid-template-rows: 25% 25% 25% 25%;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.profil-content ul li {
	color: white;
	cursor: pointer;
	width: 100px;
	padding-right: 37px;
	margin-bottom: 12px;
	padding-bottom: 5px;
	list-style: none;
	display: flex;
	justify-content: left;
	align-items: center;
	text-align: left;
}

