.adminMember {
    max-width: 1280px;
    /* 최대 너비를 1280px로 제한 */
    margin: 0 auto;
    /* 가운데 정렬 */
    padding: 20px;
    height: 800px;
    background-color: #f8f8f8;
    border-radius: 5px;
    overflow-y: auto;
}

.adminMember-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.adminMember-link {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.adminMember-input {
    flex: 0 0 auto;
    margin-left: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    max-width: unset;
    /* 수정 */
}

.adminMember-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.adminMember-table th,
.adminMember-table td {
    padding: 12px;
    text-align: left;
}

.adminMember-table th {
    background-color: #f8f8f8;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.adminMember-table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
}


.adminMember-table tr {
    display: table-row;
}

.adminMember-table tbody tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.adminMember-deleteButton {
    padding: 8px 12px;
    background-color: #da18a3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.adminMember-deleteButton:hover {
    background-color: #bd1485;
}