.hmodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hmodal {
  background-color: white;
  padding: 20px;
  max-width: 820px;
	height: 690px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
}

.hmodal-view {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hmodal-view-file {
	margin: 15px;
	width: 380px;
	height: 650px;
	border: 1px solid;
}

.hmodal-view-text {
	margin: 15px;
	width: 380px;
	height: 650px;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

.hmodal-view-header {
	padding-left: 20px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid lightgray;
	height: 70px;
	align-items: center;
}

#f-created-date {
	margin-left: 5px;
}

.hmodal-view-body {
	padding-left: 20px;
	border-bottom: 1px solid lightgray;
	height: 250px;
}

.hmodal-view-btn {
	margin-left: 20px;
	float: left;
}

.guest {
	display: none;
}

#btn-update {
	cursor: pointer;
	margin: 5px;
	border: 1px solid;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	color: #da18a3;
	background-color: white;
}

#btn-delete {
	cursor: pointer;
	margin: 5px;
	border: 1px solid;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	color: #da18a3;
	background-color: white;
	margin-right: 30px;
}

.hmodal-view-footer {
	padding-left: 20px;
	height: 280px;
}

.title-text {
	border: none;
}

.hmodal-view-body-head {
	margin-top: 10px;
}

.content-text {
	border: none;
	width: 340px;
	height: 150px;
	margin-top: 30px;
	margin-bottom: 5px;
}

.comment-text {
	margin: 5px;
	width: 250px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid lightgray;
	
}

.comment-btn {
	cursor: pointer;
	margin: 5px;
	border: 1px solid;
	width: 75px;
	height: 30px;
	border-radius: 5px;
	background-color: #da18a3;;
	color: white;
}

.hmodal-view-footer-f {
	height: 200px;
}

.hmodal-view-footer-s {
	height: 80px;
	display: flex;
	padding-right: 10px;
	align-items: center;
}

.hmodal-view-footer-f-text {
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
}

.hmodal-view-footer-f-view {
	border: 1px solid lightgray;
	width: 345px;
	height: 170px;
	overflow-y: scroll;
}

.hmodal-view-footer-f-view ul li {
	list-style: none;
	display: grid;
	grid-template-columns: 50% 50%;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 15px;
}

/* .comment-delete {
	display: none;
} */

#comment-delete {
	margin-left: 10px;
	cursor: pointer;
	border: none;
	background-color: lightgray;
}

.comment-footer {
	margin-left: 70px;
}

.heartbox {
	margin-right: 20px;
	margin-top: 25px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	border: 1px solid lightgray;
	width: 50px;
	height: 22px;
	border-radius: 20px;
}

.heart {
	cursor: pointer;
	width: 13px;
	height: 13px;
}