.login {
	display: none;
	justify-content: center;
	text-align: center;
}
.logout {
	display: none;
	justify-content: center;
	text-align: center;
}
.signup {
	display: none;
	justify-content: center;
	text-align: center;
}

.header {
	padding-bottom: 25px;
	padding-top: 10px;
	display: flex;
	width: 1280px;
	text-align: center;
	align-items: center;
    justify-content: center;
	border-bottom: 1px solid lightgray;
}

.logo {
	cursor: pointer;
	width: 32px;
	height: 32px;
}

.logo-text {
    padding-top: 7px;
    cursor: pointer;
}

.header-head {
	margin-top: 12px;
	display: flex;
	justify-content: center;
}

.header-head p {
	margin-top: 3px;
	font-size: 18px;
	font-weight: bold;
	margin-left: 3px;
}

.header-body {
    margin-left: 35px;
}

.search {
	width: 650px;
	height: 45px;
	cursor: pointer;
	padding-left: 65px;
	font-size: 18px;
	border-radius: 15px;
	border: 1.5px solid lightgray;
	border-color: lightgray;
}

.search-btn {
	width: 20px;
	height: 20px;
}

.header-tail {
	display: flex;
}

.header-tail ul {
	display: flex;
}

.header-tail ul li {
	margin-right: 8px;
	list-style: none;
}

#signup {
	cursor: pointer;
	border: 1px solid;
	text-align: center;
	height: 33px;
	width: 80px;
	border-radius: 10px;
	background: linear-gradient(101.12deg, #eb1484 27.35%, #c91cc3 99.99%, #c81cc5 100%, #c81cc5 100%);
	color: white;
	padding-top: 3px;
}

#login {
	cursor: pointer;
	border: 1px solid;
	text-align: center;
	height: 33px;
	width: 100px;
	border-radius: 10px;
	color: #da18a3;
	padding-top: 3px;
}

#logout {
	cursor: pointer;
	border: 1px solid;
	text-align: center;
	height: 33px;
	width: 100px;
	border-radius: 10px;
	color: #da18a3;
	padding-top: 3px;
}