.Amodal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.Amodal.open {
  opacity: 1;
  visibility: visible;
}

.Amodal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  max-width: 400px;
}

.Amodal-question {
  margin-bottom: 20px;
}

.Amodal-question p3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.Amodal-question input,
.Amodal-question textarea {
  width: 80%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
