.view-main {
  width: 1280px;
  height: auto;
  border-bottom: 1px solid lightgray;
}

.view-head-cate {
  border-bottom: solid 1px black;
  height: 60px;
  font-size: 42px;
  padding: 20px 0 10px 0;
}

.view-content-wrap {
  /* border: 1px solid red; */
  min-height: 560px;
}

.view-content-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row; /* 수정 */
  border-bottom: 1px solid gray;
}
.view-content-title {
  margin: 0;
  width: 100%;
  flex-basis: auto;
  padding: 10px 0 0 0;
}

.view-content-nickname {
  padding-right: 10px;
  border-right: 1px solid lightgray;
}

.view-content-count {
  padding-right: 10px;
  border-right: 1px solid lightgray;
}

.view-content-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 0 0 10px 0;
}
.view-content-etc {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: auto;
  padding: 0 0 10px 0;
}
.view-content-info > * + *,
.view-content-etc > * + * {
  margin-left: 10px;
}

.view-content-body {
  height: auto;
}

.view-content-write {
  min-height: 560px;
  height: auto;
  /* border: 1px solid red; */
}

.view-content-write p {
  text-align: left;
}

.view-content-bottom {
  border-top: 3px solid black;
  height: 60px;
}

.view-content-bottom button {
  margin: 10px 5px 10px 0;
  border: none;
  float: right;
  width: 80px;
  height: 40px;
}

.view-content-bottom button:hover {
  background-color: darkgray;
}

.view-comment-main {
  border: 0.5px solid rgb(235, 234, 234);
  border-radius: 10px;
  background-color: rgb(250, 250, 250);
  padding: 15px 30px 30px 30px;
  height: 9 0px;
  margin-bottom: 20px;
}

.view-comment-nickname {
  /* border: 1px solid green; */
  user-select: none;
  margin: 5px;
  width: 100%;
  height: 25px;
}

.view-comment-content {
  border-radius: 10px;
  width: 99.7%;
  height: 50px;
}

.view-comment-insert {
  float: right;
}

.view-comment-list {
  margin-top: 20px;
  list-style-type: none;
  /* border: 1px solid red; */
  min-width: none;
  height: auto;
}

.comment {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
}

.comment .comment-meta {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
}

.comment .comment-meta .comment-author {
  margin-right: 10px;
  font-weight: bold;
}

.comment .comment-meta .comment-date {
  color: #999;
}

.comment .comment-content {
  margin-left: 20px;
  height: auto;
  font-size: 16px;
  line-height: 1.5;
}

.comment-profile {
  display: flex;
  justify-content: space-between;
}

.comment-profile-nickname {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0 0 20px;
}

.comment-profile-date {
  color: rgb(127, 127, 127);
  float: right;
}
.btns {
  height: 20px;
  margin-bottom: 20px;
}

.re-btns {
  height: 30px;
}

.comment-update {
  padding: 0 10px 0 10px;
}

.comment-update-btns {
  height: 20px;
}

.comment-btn_delete,
.comment-btn_update,
.comment-btn_re-comment {
  padding-left: 20px;
  float: right;
}

.comment-update-text {
  border-radius: 10px;
  width: 99.7%;
  height: 50px;
}

.comment-update-btn,
.comment-update-cancel-btn {
  float: right;
}

.re-comment {
  background-color: #f5f5f5;
  border: 1px solid #d3d3d3;
  margin-top: 5px;
  padding: 10px;
}

.comment-profile {
  margin-bottom: 5px;
  font-size: 12px;
}

.comment-profile .comment-profile-nickname {
  font-weight: bold;
  color: #2b2b2b;
}

.comment-profile .comment-profile-date {
  margin-left: 10px;
  color: #9b9b9b;
}

.view-content-like {
  margin: 50px 0 30px 0;
  /* border: 1px solid blue; */
  background-color: #eceaea;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-content-like-main {
  border-radius: 15px;
  width: 25%;
  height: 100%;
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}
