.board-search {
  margin: 50px auto 0 auto;

  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-search-box {
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.board-search-box input {
  width: 0;
  font-size: 30px;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.3s;
  background: transparent;
}

.board-search-box:hover input {
  width: 400px;
}

.board-search-image {
  width: 30px;
}

.board-search-button {
  height: 40px;
  border: none;
}